name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  # JOB 1: Test Training Script
  train-model:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: pip install -r MLProject/requirements.txt

      - name: Run Training
        run: |
          cd MLProject
          python modelling.py

  # JOB 2: Build & Push Docker Image
  build-push-docker:
    needs: train-model
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: ./MLProject
          push: true
          
          tags: muhzidanehh/telco-project:latest