name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-train-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Run actions/checkout@v3
        uses: actions/checkout@v3

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'
      
      - name: Check Env
        run: |
          python --version
          pip --version

      - name: Install Dependencies
        run: |
          pip install mlflow dagshub pandas scikit-learn numpy matplotlib seaborn

      - name: Run MLflow Project
        env:
          MLFLOW_TRACKING_URI: ${{ secrets.DAGSHUB_URI }}
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          cd MLProject
          # Menjalankan project menggunakan environment lokal runner
          mlflow run . --env-manager=local --experiment-name "CI_CD_Automation"

      - name: Get latest MLflow run_id
        env:
          MLFLOW_TRACKING_URI: ${{ secrets.DAGSHUB_URI }}
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          # Mengambil Run ID terakhir dari eksperimen untuk keperluan build docker
          LATEST_RUN=$(python -c "import mlflow; mlflow.set_tracking_uri('${{ secrets.DAGSHUB_URI }}'); runs = mlflow.search_runs(experiment_names=['CI_CD_Automation'], max_results=1); print(runs.iloc[0]['run_id']) if not runs.empty else print('None')")
          
          echo "Found Run ID: $LATEST_RUN"
          echo "RUN_ID=$LATEST_RUN" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        env:
          MLFLOW_TRACKING_URI: ${{ secrets.DAGSHUB_URI }}
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          if [ "$RUN_ID" == "None" ]; then
            echo "Run ID not found. Skipping build."
            exit 1
          fi

          echo "Building Docker Image from Model URI: runs:/$RUN_ID/model"
          
          # Build image menggunakan MLflow sesuai kriteria advance
          # Ubah 'muhzidanehh/telco-project' sesuai nama repository docker hub
          mlflow models build-docker \
            --model-uri "runs:/$RUN_ID/model" \
            --name "muhzidanehh/telco-project:latest" \
            --enable-mlserver

          echo "Pushing to Docker Hub..."
          docker push muhzidanehh/telco-project:latest